.podcasts {
  width: 50%;
  max-width: 30rem;
  margin: auto;
  &__title {
    text-align: center;
  }
  &__list {
    list-style: none;
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .podcasts {
    width: 90%;
  }
}
